.container{
  text-align: center;
}

.btnClass{
  background-color: rgb(34, 134, 34);
  border: 0;
  outline: none;
  font-size: 20px;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 2px;
  margin:10px;

}

.inputClass{
  width: 10%;
  height: 30px;
  font-size: 20px;
  text-align: center;


}